/* Estilos básicos */
body {
    background-color: #f4f4f9;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Animación de pulso para SVG */
.pulse-circle {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
